body {
  font-family: "Unbounded", cursive;
  box-sizing: border-box;
  background-color: #2b2b2b;
}

.header--navbar {
  height: 100px;
}
.avatar img {
  margin-left: 115px;
  margin-top: -70px;
  border-radius: 21px;
}
.information-avatar{
  margin-left: 115px;
}
.header-information-avatar{
  margin-left: 115px;
}

@media (max-width: 900px) {
  .navbar-mx--lg {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
  .header-information-avatar{
    display: flex;
    flex-direction: column;
  }
  .information-avatar{
    margin-left: 0;
  }
  .header-information-avatar{
    margin-left: 0;
  }
}
.carousel{
  height: 100px;
}
#navbar li{
  position: relative;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 80%;
  height: 2px;
  background: #737474;
  position: absolute;
  bottom: -4px;
  right: 50px;
  color: #fff;
}

.costumize-card{
  width: 330px;
}
.Cards span{
font-size: 15px;
}

.Cards{
  margin: 0 auto;
}

.Cards p{
font-size: 10px;
}

.avatar-name{
  font-size: 13px !important;
  margin-top: 4px;
}
.costumize-card{
  padding: 0;
  gap: 12px;
  margin: 50px 50px;
}

@media (max-width: 500px) {
  .logo {
    width: 244px;
    height: 32px;
  }
  .button-avatar{
    flex-direction: column;
  }
  .button-avatar button{
    margin-bottom: 15px;
    width: 315px !important;
    height: 60px;
  }
  .button-avatar button span{
    font-size: 16px;
    font-weight: 600;
  }
  .carousel-header span{
    display: none;
  }
}
