body {
  font-family: "Unbounded", cursive;
  box-sizing: border-box;
  background-color: #2b2b2b;
}

.header--navbar {
  height: 100px;
}
.avatar img {
  margin-left: 108px;
  margin-top: -70px;
  border-radius: 21px;
}
.information-avatar {
  margin-left: 115px;
}
.header-information-avatar {
  margin-left: 115px;
}

.costumize-card {
  width: 330px;
}
.Cards span {
  font-size: 15px;
}

.Cards {
  margin: 0 auto;
  background-color: #3b3b3b;
}

.Cards p {
  font-size: 10px;
}

.avatar-name {
  font-size: 13px !important;
  margin-top: 4px;
}
.costumize-card {
  padding: 0;
  gap: 12px;
  margin: 50px 50px;
}

.carousel {
  height: 60px;
}
#navbar li {
  position: relative;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 80%;
  height: 2px;
  background: #737474;
  position: absolute;
  bottom: -4px;
  right: 50px;
}

.footer-column {
  width: 20%;
  margin: 30px 50px;
}
.copy-right-container {
  font-size: 13px;
  margin: 0 90px;
}
/* .container-logo-image {
  width: 100%;
}
.container-logo-image img {
  width: 100%;
  object-fit: cover;
} */

@media (max-width: 1000px) {
  .header-information-avatar {
    display: flex;
    flex-direction: column;
  }
  .information-avatar {
    margin-left: 0;
  }
  .header-information-avatar {
    margin-left: 0;
  }
  .costumize-card {
    margin: 20px 10px !important;
  }
  .footer-container {
    flex-direction: column !important;
  }
  .artist-information-container {
    margin: 0 50px;
  }
  .copy-right-container {
    font-size: 13px;
    margin: 0 100px;
  }
  .footer-column p {
    width: 250px;
    font-size: 13px !important;
    color: #cccccc !important;
  }
  .container-logo-image {
    width: 100%;
  }
  .container-logo-image img {
    width: 100%;
  }
  #navbar li a.active::after,
  #navbar li a:hover::after {
    content: "";
    width: 70%;
    height: 2px;
    background: #737474;
    position: absolute;
    bottom: -4px;
    right: 10px;
    margin: 0 20px;
  }
}

@media (max-width: 500px) {
  .navbar-mx--sm {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }

  .logo {
    width: 160px;
    height: 32px;
  }
  .buttons-avatar {
    flex-direction: column;
  }
  .buttons-avatar button {
    margin-bottom: 15px;
    width: 325px !important;
    height: 60px;
  }
  .buttons-avatar button span {
    font-size: 13px;
    font-weight: 600;
  }
  .carousel-header span {
    display: none;
  }
  .input-email {
    display: flex !important;
    flex-direction: column;
    width: 200px;
    height: 110px;
    padding-left: 0;
    margin-left: 45px;
  }
  .subscribe-button {
    width: 300px !important;
    height: 110px;
    margin-left: 0px !important;
  }
  .artist-information-container {
    margin: 0 10px;
  }
  .copy-right-container {
    margin: 0 50px;
  }
  .Baner-container {
    width: 100%;
  }
  .Baner-container img {
    height: 250px;
  }
  .state-avatar span,
  p {
    font-size: 15px;
  }
  .text-copy-right {
    font-size: 10px;
  }
  .header-information-avatar {
    width: 320px;
  }
  .footer-column p {
    width: 250px;
    font-size: 13px !important;
    color: #cccccc !important;
  }
  #navbar li a.active::after,
  #navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: #737474;
    position: absolute;
    bottom: -4px;
    right: 10px;
  }
}
